/*Made by Mike Flowers @audiolotus.dev*/

/*imports, media queries, fonts, etc*/
@font-face {
    font-family: 'iosevka';
    src: url('/assets/fonts/iosevka_nerd_font_complete-webfont.woff2') format('woff2'),
    url('/assets/fonts/iosevka_nerd_font_complete-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*global selectors*/

/*classes*/

.nav-items, .nav-items ul /*had to add to get rid of bullets*/ {
    list-style-type: none;
    background-color: slategray;
    display: flex;
    max-width: 100%;
}

.main--var-1 {
    display: flex;
}

.main--var-2 {
    display: flex;
}

.footer--copyright {
}

.footer--ul-header {
}

.footer--list {

}

.footer--totop {

}