/*Made by Mike Flowers @audiolotus.dev*/

/*imports, media queries, fonts, etc*/
@font-face {
    font-family: 'amble'; /* Use Amble as the body font */
    src: url("assets/fonts/Amble-Regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vera'; /* Use Vera Sans as the h1 and nav font */
    src: url("assets/fonts/VeraMono-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
/*global selectors*/
* {
    font-size: 1rem;
    margin: 0;
    font-family: 'amble', sans-serif;
    /*outline: crimson solid; [for testing only]*/
}

body {
    background: #2e2836;
}

/*classes*/

.hero-main {
    background-color: #00003a;
    background-image: url("assets/svg/herobg_pattern.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.hero-main--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75em;
}

.hero-main--header {
    font-size: 4.5em;
    color: transparent;
    background-image: linear-gradient(10deg, #a3c4bc, #077187);
    background-repeat: repeat;
    background-size: 100%;
    background-clip: text;
    font-family: "vera", sans-serif;
    margin-top: 3rem;
}

.hero-main--subheader {
    font-size: 1.2em;
    margin: 2rem 0 .2rem 0;
    color: #e8f0ee;
    font-family: "vera", sans-serif;
}

.nav-list {
    list-style-type: none;
    font-family: 'vera', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.2em;
}

.nav-list-item {
    margin: 0 .55em;
    color: #fff;
}

.hero-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: .5em;
}

.hero-icon--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .5em;
    color: #e8f0ee;
    margin: 3em;
}


.main-section {
    padding: .3em;
}

.main-section > p {
    color: #e8f0ee;
}

.section-head {
    font-family: "vera", sans-serif;
    color: #e8f0ee;
    font-size: 1.5em;
    margin: .75em 0 .75em 0;
}
.span--mid {

}

.main-footer {
    margin: .5em 0 0 0;
    padding: .3em;
    display: flex;
    column-gap: 2em;
    justify-content: space-around;
    align-items: flex-start;
}

.footer--copyright {
}

.footer--ul-header {
}

.footer--list {
    list-style: none;
}

.footer--totop {
}