/*Made by Mike Flowers @audiolotus.dev*/

/*imports, media queries, fonts, etc*/
@font-face {
    font-family: 'iosevka';
    src:url('/assets/fonts/iosevka_nerd_font_complete-webfont.woff2') format('woff2'),
    url('/assets/fonts/iosevka_nerd_font_complete-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*global selectors*/

ul /*had to add to get rid of bullets*/{
    list-style-type: none;
}

body {
    font-size: 1rem
}

nav {
    background-color: aqua;
}

footer {
    max-width: 100%;
    background-color: slategray;
}
/*classes*/

.nav-list {
    font-family: 'iosevka', sans-serif;
    background-color: slategray;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav-list-item {
    margin: 0px .75rem;
}

.main-section--bg-prim {
    background-color: mediumpurple;
    display: flex;
}

.main-section--bg-sec {
    background-color: seagreen;
    display: flex;
}

.span--mid {

}

.footer--copyright {
}

.footer--ul-header {
}

.footer--list {
}

.footer--totop {
}